@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,400;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Barlow, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
   
}

/* headings and logo */

h1, h2, h3, h4 {
    font-family: Barlow, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/Hero\ Image.lnk) no-repeat center center;
}

/* main section */

#main-section {
    height: 700px;
}

#main-section, h1 {
    text-align: center;
    color: #3a3a3a;
    font-family: Barlow, sans-serif;
    font-size: 45px;
    margin-top: auto;
}

.row {
    display: table;
    width: 100%;
    table-layout: fixed;
    padding-top: 25px;
}

.row, h2, h3, h4 {
    text-align: left;
    font-size: 30px;
    color: #3a3a3a;
    margin-top: auto;
}

p {
    font-family: sans-serif;
    font-size: large;
    margin-right: auto;
    width: 80%;
    text-align: justify;
}

.about us {
    height: 470px;
    width: 33%;
    display: table-cell;
}

.our services {
    height: 470px;
    width: 33%;
    display: table-cell;
}

.testimonials {
    height: 470px;
    width: 33%;
    display: table-cell;
}


/* footer */

footer {
    height: 150px;
}

.social-media {
    text-align: center;
}

.social-media > li {
    display: inline;
}

.social-media i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}
