@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,400;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Barlow, sans-serif;
    font-weight: 300;
    color: #3a3a3a;

}

/* Headings and logo */

h1,
h2,
h3,
h4 {
    font-family: Barlow, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
}

/* Navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    max-width: 100%;
    background: url(../images/heroimg.jpg) no-repeat center center;
}

/* Main section */

#main-section {
    height: 700px;
}

#main-section,
h1 {
    text-align: center;
    color: #3a3a3a;
    font-family: Barlow, sans-serif;
    font-size: 45px;
    margin-top: auto;
}

.slogan {
    text-align: center;
    color: #3a3a3a;
    font-family: Barlow, sans-serif;
    font-size: 40px;
    margin-top: auto;
    padding-top: 15px;
}

.row {
    display: table;
    width: 100%;
    table-layout: fixed;
    padding-top: 25px;
}

.row,
h2,
h3,
h4 {
    text-align: left;
    font-size: 30px;
    color: #3a3a3a;
    margin-top: auto;
}

p {
    font-family: Barlow, sans-serif;
    font-size: 30px;
    margin-right: auto;
    width: 80%;
    text-align: justify;
    padding-top: 50px;
    padding-right: 50px;
}

.about {
    height: 470px;
    width: 33%;
    display: table-cell;
    background-color: #f7f7ff;
    padding-top: 25px;
    padding-left: 50px;
    border-color: white;
    border-style: double;
}

.services {
    height: 470px;
    width: 33%;
    display: table-cell;
    background-color: aliceblue;
    padding-top: 25px;
    padding-left: 50px;
    border-color: white;
    border-style: double;
}

.testimonies {
    height: 470px;
    width: 33%;
    display: table-cell;
    background-color: #fbf6ee;
    padding-top: 25px;
    padding-left: 50px;
    border-color: white;
    border-style: double;
}


/* Footer */

footer {
    height: 150px;
}

.social-media {
    text-align: center;
}

.social-media>li {
    display: inline;
}

.social-media i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* Gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

#photos>img {
    width: 100%;
}

/* Contact Us page */

.contact {
    clear: left;
    background: url('../images/contactimg.jpg');
    background-size: cover;
    background-position: center;
    height: 980px;

}

.contact-form {
    margin: 75px 10% 0 0;
    color: black;
    background-color: #D7E2E4;
    max-width: 300px;
    position: absolute;
    left: 10%;
    padding: 50px;
    font-family: Arial, sans-serif;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: Barlow, sans-serif;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.formmessage {
    font-size: 25px;
    padding-bottom: 20px;
    padding-top: 20px;
}

/* Media queries */

/* Responsivness below 1200px */

@media screen and (max-width:1200px) {

/* Homepage */

.row p {
    font-size: 25px;
    padding-top: 35px;
}
}

/* Responsivness below 1024px */

@media screen and (max-width:1024px) {

/* Homepage */

.row p {
    font-size: 25px;
    padding-top: 35px;
}
}

/* Responsivness below 914px */

@media screen and (max-width:914px) {

/* Homepage */

#logo {

    font-size: 200%;
    float: left;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 8px;
    margin-left: 10px;
}

h2.slogan {
    font-size: 30px;
}

.row p {
    font-size: 20px;
    padding-top: 30px;
}

.row h3 {
    font-size: 20px;
}

}

/* Responsivness below 740px */
@media screen and (max-width:740px) {

/* Homepage */

#logo {
    margin-left: 10px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 8px;
    margin-left: 0px;
}

.row {
    display: inline-grid;
    width: 100%;
}

.row h3 {
    padding-left: 30px;
}

.row p {
    font-size: 18px;
    padding-top: 15px;
    padding-left: 30px;
}

#photos {
    display: grid;
}

.about {
    width: 100%;
    padding-left: 0;
}

.services {
    width: 100%;
    padding-left: 0;
}

.testimonies {
    width: 100%;
    padding-left: 0;
}

.contact {
    clear: both;
    margin-top: 60px;
}

.contact-form {
    margin: 70px 10% 0 0;
}

}

/* Responsivness at 320px */

@media screen and (max-width:320px) {

/* Homepage */

h2.slogan {
     font-size: 20px;
}

.row {
    display: inline-grid;
    width: 255%;
}

.row h3 {
    font-size: 20px;
}

.row p {
    font-size: 18px;
    padding-top: 15px;
}

.contact-form {
    margin: 60px 10% 0 0;
}

/* Gallery page */

#logo {

    font-size: 120%;
    float: none;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 8px;
    margin-left: 10px;
}

#photos {
     display: grid;
}

.social-media i {
    font-size: 120%;
}

/* Contact Us page */

.contact {
    margin-top: 75px;
}

.contact-form {
    max-width: 250px;
    padding: 5px;
}

.contact-form h3 {
    font-size: 25px;
    text-align: center;
}

p.formmessage {
    font-size: 20px;
    padding-left: 20px;
    text-align: justify;
}
}